/**
 * @file Styling for the Front Page classes
 */

.front {
  #mc_embed_signup {
    background: #F0F0F0;
    border: 1px solid $col1;
    margin: 32px auto;
    max-width: 300px;
  }
  .field-name-body {
    text-align: center;
  }
}
