/**
 * @file Styling for the slider classes
 */

.flexslider {
  background: #fff none repeat scroll 0 0;
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 0;
  margin: 0 0 60px;
  position: relative;
}
