/**
 * @file Styling for the navigation regions - top-nav and middle-nav
 */

// General styling for the navigation region
#top-nav,
#middle-nav {
  background: $col1;
  text-transform: uppercase;
  .block-title {
    text-align: center;
  }
}

// List items in the navigation regions common to both menus
#top-nav ul li,
#middle-nav ul li {
  display: inline-block;
  list-style: none;
  text-align: center;
  &:focus,
  &:hover {
    background: $col3;
  }
  a {
    color: $white;
    display: block;
  }
}

// Styling for top menu only
#top-nav ul li {
  a {
    padding: 1rem;
    @include breakpoint($large) {
      padding: 1rem 1.5rem;
    }
  }
}

// Styling for middle menu only
#middle-nav ul li {
  a {
    padding: 1rem;
  }
}
